In [1]:
#import dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
#use the citipy module to determine city based on latitude and longitude
from citipy import citipy
#import the datetime module from the datetime library
from datetime import datetime
#for API requests
import requests
#import the API key
from config import weather_api_key
# Import the time module.
import time
# Import linear regression from the SciPy stats module
from scipy.stats import linregress
import csv
import os
import gmaps
import gmaps.datasets

In [2]:
#file to load
weather_data_to_load ="data/WeatherPy_vacation.csv"

In [3]:
#read csv files into a df
weather_data_df=pd.read_csv(weather_data_to_load)
weather_data_df.head(10)

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Rain (last 3 hrs),Snow (last 3 hrs)
0,0,0,Port Moresby,PG,2020-04-19 19:03:54,-9.44,147.18,78.35,83,51,5.59,broken clouds,0,0
1,10,10,Bengkulu,ID,2020-04-19 18:58:06,-3.80,102.27,78.82,81,100,3.74,overcast clouds,0,0
2,13,13,Rikitea,PF,2020-04-19 19:00:03,-23.12,-134.97,76.75,70,59,7.87,broken clouds,0,0
3,18,18,Vaini,TO,2020-04-19 19:04:09,-21.20,-175.20,77.00,83,40,9.17,scattered clouds,0,0
4,22,22,Sulangan,PH,2020-04-19 19:04:13,11.14,123.72,82.18,81,83,12.48,light rain,0,0
5,24,24,Harper,LR,2020-04-19 19:04:14,4.38,-7.72,83.44,76,100,7.20,overcast clouds,0,0
6,25,25,Faanui,PF,2020-04-19 19:02:42,-16.48,-151.75,82.60,78,68,14.05,broken clouds,0,0
7,35,35,Santa Fe,AR,2020-04-19 19:04:21,-31.63,-60.70,87.01,38,0,4.00,clear sky,0,0
8,36,36,Port Alfred,ZA,2020-04-19 19:04:22,-33.59,26.89,77.63,57,20,14.81,few clouds,0,0
9,41,41,Manado,ID,2020-04-19 19:04:25,1.49,124.85,77.00,94,40,2.24,scattered clouds,0,0

In [4]:
#Cities selected for directions: Mahebourg,Souillac,Bambous Virieux, Grand Gaube
#syntax df.loc[df[‘column name’] condition]
#df for Mahebourg
weather_data_df_c1=weather_data_df.loc[weather_data_df['City']=='Mahebourg']
weather_data_df_c1

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Rain (last 3 hrs),Snow (last 3 hrs)
26,90,90,Mahebourg,MU,2020-04-19 19:02:47,-20.41,57.7,77.0,83,75,9.17,broken clouds,0,0

In [5]:
#df for Souillac
weather_data_df_c2=weather_data_df.loc[weather_data_df['City']=='Souillac']
weather_data_df_c2

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Rain (last 3 hrs),Snow (last 3 hrs)
59,182,182,Souillac,MU,2020-04-19 18:57:36,-20.52,57.52,77.0,83,75,9.17,broken clouds,0,0

In [6]:
#df for Bambous Virieux
weather_data_df_c3=weather_data_df.loc[weather_data_df['City']=='Bambous Virieux']
weather_data_df_c3

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Rain (last 3 hrs),Snow (last 3 hrs)
43,139,139,Bambous Virieux,MU,2020-04-19 19:01:56,-20.34,57.76,77.0,83,75,9.17,broken clouds,0,0

In [7]:
#df for Grand Gaube
weather_data_df_c4=weather_data_df.loc[weather_data_df['City']=='Grand Gaube']
weather_data_df_c4

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Rain (last 3 hrs),Snow (last 3 hrs)
44,143,143,Grand Gaube,MU,2020-04-19 19:05:29,-20.01,57.66,77.0,83,75,9.17,broken clouds,0,0

In [8]:
#pd.concat([s1, s2])
shortlist_df=pd.concat([weather_data_df_c1,weather_data_df_c2,weather_data_df_c3,weather_data_df_c4])
shortlist_df

,City_ID,City_ID.1,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current description,Rain (last 3 hrs),Snow (last 3 hrs)
26,90,90,Mahebourg,MU,2020-04-19 19:02:47,-20.41,57.70,77.0,83,75,9.17,broken clouds,0,0
59,182,182,Souillac,MU,2020-04-19 18:57:36,-20.52,57.52,77.0,83,75,9.17,broken clouds,0,0
43,139,139,Bambous Virieux,MU,2020-04-19 19:01:56,-20.34,57.76,77.0,83,75,9.17,broken clouds,0,0
44,143,143,Grand Gaube,MU,2020-04-19 19:05:29,-20.01,57.66,77.0,83,75,9.17,broken clouds,0,0

In [9]:
# Import the API key.
from config import g_key
gmaps.configure(api_key=g_key)

#lat and lng from weather_data_df_c1,weather_data_df_c2,weather_data_df_c3,weather_data_df_c4
lat_1=weather_data_df_c1.loc[weather_data_df_c1.City=="Mahebourg",'Lat'].values[0]
lng_1=weather_data_df_c1.loc[weather_data_df_c1.City=="Mahebourg",'Lng'].values[0]
lat_2=weather_data_df_c2.loc[weather_data_df_c2.City=="Souillac",'Lat'].values[0]
lng_2=weather_data_df_c2.loc[weather_data_df_c2.City=="Souillac",'Lng'].values[0]
lat_3=weather_data_df_c3.loc[weather_data_df_c3.City=="Bambous Virieux",'Lat'].values[0]
lng_3=weather_data_df_c3.loc[weather_data_df_c3.City=="Bambous Virieux",'Lng'].values[0]
lat_4=weather_data_df_c4.loc[weather_data_df_c4.City=="Grand Gaube",'Lat'].values[0]
lng_4=weather_data_df_c4.loc[weather_data_df_c4.City=="Grand Gaube",'Lng'].values[0]

# Latitude-longitude pairs
mahebourg=(lat_1,lng_1)
souillac=(lat_2,lng_2)
bambos=(lat_3,lng_3)
grand_gaube=(lat_4,lng_4)

#create dataframe hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = shortlist_df[["City", "Current description","Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""


# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key}

#iterate through dataframe
for index, row in hotel_df.iterrows():
    #get latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    #add the latitude and longitude to location key for the params dictionary in gmaps
    params["location"] = f"{lat},{lng}"

    
     # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

hotel_df

,City,Current description,Country,Max Temp,Lat,Lng,Hotel Name
26,Mahebourg,broken clouds,MU,77.0,-20.41,57.70,Shandrani Beachcomber Resort & Spa
59,Souillac,broken clouds,MU,77.0,-20.52,57.52,Bils' Villa
43,Bambous Virieux,broken clouds,MU,77.0,-20.34,57.76,Casa Tia Villa
44,Grand Gaube,broken clouds,MU,77.0,-20.01,57.66,Veranda Paul et Virginie Hotel & Spa

In [11]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current description</dt><dd>{Current description} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
#syntax reference
#fig = gmaps.figure()
#geneva2zurich_via_montreux = gmaps.directions_layer(geneva, zurich, waypoints=[montreux],travel_mode='BICYCLING')
#fig.add_layer(geneva2zurich_via_montreux)
#fig

fig = gmaps.figure()
directions_four = gmaps.directions_layer(mahebourg,souillac,waypoints=[bambos,grand_gaube],travel_mode="DRIVING")
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(directions_four)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))